@import "/styles/main.scss";

.line_text {
  position: absolute;
  @include fontRegular(4.7px, 400, 7.5px);
  @media screen and (min-width: $min_tablet) {
    @include fontRegular(9px, 400, 14.4px);
  }
  @media screen and (min-width: $min_desktop) {
  }
  &_position1 {
    top: 37.5%;
    left: 33.5%;
    rotate: (45deg);
    color: #6f78a3;
    @media screen and (min-width: $min_tablet) {
      top: 37.5%;
      left: 34.9%;
    }
    @media screen and (min-width: $min_desktop) {
    }
  }
  &_position2 {
    rotate: (-45deg);
    top: 37%;
    right: 33.5%;
    color: #ad6a5b;
    @media screen and (min-width: $min_tablet) {
      top: 37%;
      right: 37%;
    }
    @media screen and (min-width: $min_desktop) {
    }
  }
}

.circle1 {
  position: absolute;
  display: block;
  @include fontRegular(20px, 600, 20px);
  text-align: center;
  width: 30px;
  letter-spacing: -1.4px;
  @media screen and (min-width: $min_tablet) {
    width: 64px;
    @include fontRegular(42px, 600, 52px);
    letter-spacing: -3px;
  }
  @media screen and (min-width: $min_desktop) {
    width: 58px;
    @include fontRegular(36px, 600, 42px);
    letter-spacing: -2px;
  }
  &_month {
    top: 5%;
    left: 44.7%;
  }
  &_day {
    top: 47%;
    left: 4.7%;
  }
  &_year {
    top: 47%;
    right: 5.9%;
  }
  &_bottom1 {
    bottom: 3.6%;
    right: 45.6%;
  }
  &_topLeft1 {
    top: 17.5%;
    left: 16.2%;
  }
  &_topRight1 {
    top: 17.5%;
    right: 17.7%;
  }
  &_bottomRight1 {
    bottom: 16%;
    right: 17.7%;
  }
  &_bottomLeft1 {
    bottom: 16%;
    left: 16.5%;
  }
  @media screen and (min-width: $min_tablet) {
    &_month {
      top: 4%;
      left: 44.4%;
    }
    &_day {
      top: 46%;
      left: 11%;
    }
    &_year {
      top: 46%;
      right: 13.2%;
    }
    &_bottom1 {
      bottom: 2.5%;
      right: 46.6%;
    }
    &_topLeft1 {
      top: 16.3%;
      left: 20.7%;
    }
    &_topRight1 {
      top: 16.4%;
      right: 23.1%;
    }
    &_bottomRight1 {
      bottom: 15%;
      right: 23.1%;
    }
    &_bottomLeft1 {
      bottom: 15%;
      left: 20.6%;
    }
  }
  @media screen and (min-width: $min_desktop) {
    &_month {
      top: 5%;
      left: 45.3%;
    }
    &_day {
      top: 47%;
      left: 10.8%;
    }
    &_year {
      top: 47%;
      right: 12.9%;
    }
    &_bottom1 {
      bottom: 3.7%;
      right: 47.3%;
    }
    &_topLeft1 {
      top: 17.4%;
      left: 20.8%;
    }
    &_topRight1 {
      top: 17.4%;
      right: 23.1%;
    }
    &_bottomRight1 {
      bottom: 16%;
      right: 23.1%;
    }
    &_bottomLeft1 {
      bottom: 16.2%;
      left: 20.8%;
    }
  }
}

.circle2 {
  position: absolute;
  display: block;
  text-align: center;

  width: 20px;
  @include fontRegular(13px, 600, 13px);
  letter-spacing: -1px;
  @media screen and (min-width: $min_tablet) {
    width: 37px;
    @include fontRegular(24px, 600, 24px);
    letter-spacing: -1.8px;
  }
  @media screen and (min-width: $min_desktop) {
    width: 42px;
    @include fontRegular(28px, 600, 28px);
    letter-spacing: -2px;
  }
  &_left2 {
    top: 48.6%;
    left: 14.2%;
  }

  &_topLeft2 {
    top: 24.6%;
    left: 23.7%;
  }
  &_top2 {
    top: 15%;
    left: 46%;
  }
  &_topRight2 {
    top: 24.6%;
    right: 24.6%;
  }
  &_right2 {
    top: 48.6%;
    right: 15.5%;
  }
  &_bottomRight2 {
    bottom: 23%;
    right: 24.6%;
  }
  &_bottom2 {
    bottom: 13.3%;
    right: 47.4%;
  }
  &_bottomLeft2 {
    bottom: 23%;
    left: 23.6%;
  }

  @media screen and (min-width: $min_tablet) {
    &_left2 {
      top: 48.4%;
      left: 19.5%;
    }

    &_topLeft2 {
      top: 24.5%;
      left: 27.2%;
    }
    &_top2 {
      top: 14.6%;
      left: 46.2%;
    }
    &_topRight2 {
      top: 24.4%;
      right: 29.6%;
    }
    &_right2 {
      top: 48.4%;
      right: 21.7%;
    }
    &_bottomRight2 {
      bottom: 23.4%;
      right: 29.3%;
    }
    &_bottom2 {
      bottom: 13.6%;
      right: 48.4%;
    }
    &_bottomLeft2 {
      bottom: 23.6%;
      left: 27.3%;
    }
  }
  @media screen and (min-width: $min_desktop) {
    &_left2 {
      top: 48.2%;
      left: 18.8%;
    }

    &_topLeft2 {
      top: 24.6%;
      left: 26.9%;
    }
    &_top2 {
      top: 14.6%;
      left: 46.2%;
    }
    &_topRight2 {
      top: 24.4%;
      right: 28.7%;
    }
    &_right2 {
      top: 48.3%;
      right: 20.7%;
    }
    &_bottomRight2 {
      bottom: 23.3%;
      right: 28.6%;
    }
    &_bottom2 {
      bottom: 13.5%;
      right: 48.2%;
    }
    &_bottomLeft2 {
      bottom: 23.2%;
      left: 26.8%;
    }
  }
}

.circle3 {
  position: absolute;
  display: block;
  width: 15px;

  @include fontRegular(10px, 600, 10px);
  letter-spacing: -1px;
  text-align: center;
  @media screen and (min-width: $min_tablet) {
    width: 29px;
    @include fontRegular(17px, 600, 17px);
    letter-spacing: -1.8px;
  }
  @media screen and (min-width: $min_desktop) {
    width: 32px;
    @include fontRegular(20px, 600, 28px);
    letter-spacing: -2px;
  }
  &_left3 {
    top: 48.8%;
    left: 20.6%;
  }
  &_topLeft3 {
    top: 28.8%;
    left: 28.3%;
  }
  &_top3 {
    top: 20.9%;
    left: 47%;
  }
  &_topRight3 {
    top: 28.98%;
    right: 29.5%;
  }
  &_right3 {
    top: 48.9%;
    right: 22%;
  }
  &_bottomRight3 {
    bottom: 28%;
    right: 29.6%;
  }
  &_bottom3 {
    bottom: 20%;
    right: 48.2%;
  }
  &_bottomLeft3 {
    bottom: 28%;
    left: 28.2%;
  }
  @media screen and (min-width: $min_tablet) {
    &_left3 {
      top: 48.8%;
      left: 24.8%;
    }
    &_topLeft3 {
      top: 29%;
      left: 31.1%;
    }
    &_top3 {
      top: 20.9%;
      left: 46.9%;
    }
    &_topRight3 {
      top: 29%;
      right: 33.4%;
    }
    &_right3 {
      top: 48.9%;
      right: 27.2%;
    }
    &_bottomRight3 {
      bottom: 28.3%;
      right: 33.4%;
    }
    &_bottom3 {
      bottom: 20.3%;
      right: 48.9%;
    }
    &_bottomLeft3 {
      bottom: 28.4%;
      left: 31.2%;
    }
  }
  @media screen and (min-width: $min_desktop) {
    &_left3 {
      top: 48.2%;
      left: 24.3%;
    }
    &_topLeft3 {
      top: 28.3%;
      left: 30.8%;
    }
    &_top3 {
      top: 20.3%;
      left: 47%;
    }
    &_topRight3 {
      top: 28.3%;
      right: 32.8%;
    }
    &_right3 {
      top: 48%;
      right: 26.3%;
    }
    &_bottomRight3 {
      bottom: 27.8%;
      right: 32.7%;
    }
    &_bottom3 {
      bottom: 19.7%;
      right: 48.9%;
    }
    &_bottomLeft3 {
      bottom: 27.8%;
      left: 30.8%;
    }
  }
}

.internal {
  position: absolute;
  display: block;
  width: 15px;
  @include fontRegular(10px, 600, 10px);
  letter-spacing: -1px;
  text-align: center;
  @media screen and (min-width: $min_tablet) {
    width: 29px;
    @include fontRegular(17px, 600, 17px);
    letter-spacing: -1.8px;
  }
  @media screen and (min-width: $min_desktop) {
    width: 32px;
    @include fontRegular(20px, 600, 28px);
    letter-spacing: -2px;
  }
  &_center {
    @include fontRegular(20px, 600, 20px);
    letter-spacing: -1.4px;
    width: 30px;
    top: 47.3%;
    left: 44.5%;
  }
  &_innerLeft {
    top: 48.7%;
    left: 32.5%;
  }
  &_innerTop {
    top: 33.7%;
    left: 47%;
  }

  &_balance {
    bottom: 35.1%;
    right: 36.2%;
  }
  &_love {
    bottom: 28.4%;
    right: 37.9%;
  }
  &_money {
    bottom: 37.2%;
    right: 29.7%;
  }

  @media screen and (min-width: $min_tablet) {
    &_center {
      @include fontRegular(37px, 600, 37px);
      letter-spacing: -2px;
      width: 57px;
      top: 47.3%;
      left: 44.9%;
    }
    &_innerLeft {
      top: 48.7%;
      left: 34.7%;
    }
    &_innerTop {
      top: 33.7%;
      left: 46.9%;
    }

    &_balance {
      bottom: 35.4%;
      right: 38.9%;
    }
    &_love {
      bottom: 28.7%;
      right: 40.4%;
    }
    &_money {
      bottom: 37.4%;
      right: 33.4%;
    }
  }
  @media screen and (min-width: $min_desktop) {
    &_center {
      @include fontRegular(42px, 600, 52px);
      letter-spacing: -3px;
      width: 64px;
      top: 46.8%;
      left: 44.8%;
    }
    &_innerLeft {
      top: 48%;
      left: 34.5%;
    }
    &_innerTop {
      top: 33%;
      left: 46.9%;
    }

    &_balance {
      bottom: 34.7%;
      right: 38.5%;
    }
    &_love {
      bottom: 28.1%;
      right: 40.1%;
    }
    &_money {
      bottom: 36.8%;
      right: 32.9%;
    }
  }
}
