//colors

$main_text_color: #181717;
$additional_text_color: #504e4c;
$main_button_color: #f0eee8;
$additional_button_color: #945215;
$border_line: #181717;
$footer-bg: #c26005;

$min_mobile: 360px;
$min_tablet: 768px;
$min_desktop: 1366px;
